[versions]

# Kotlin
kotlin = "1.6.21"

# Compose
activity = "1.4.0"
navigation = "2.4.2"
compose = "1.2.0-beta01"

[libraries]

android-pluginGradle = "com.android.tools.build:gradle:7.2.1"
mavenPublish-pluginGradle = "com.vanniktech:gradle-maven-publish-plugin:0.17.0"
metalava-pluginGradle = "me.tylerbwong.gradle:metalava-gradle:0.2.0"

naver-map = "com.naver.maps:map-sdk:3.15.0"
google-play-services-location = "com.google.android.gms:play-services-location:16.0.0"

# Kotlin

kotlin-pluginGradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib-jdk7", version.ref = "kotlin" }

dokka-pluginGradle = "org.jetbrains.dokka:dokka-gradle-plugin:1.5.0"

# Material Design

material-material = "com.google.android.material:material:1.4.0"
material-composeThemeAdapter = "com.google.android.material:compose-theme-adapter:1.1.9"

# Compose

compose-activity = { module = "androidx.activity:activity-compose", version.ref = "activity" }
compose-navigation = { module = "androidx.navigation:navigation-compose", version.ref = "navigation" }
compose-runtime = { module = "androidx.compose.runtime:runtime", version.ref = "compose" }
compose-foundation = { module = "androidx.compose.foundation:foundation", version.ref = "compose" }
compose-ui-ui = { module = "androidx.compose.ui:ui", version.ref = "compose" }
compose-ui-testJunit4 = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose" }
compose-ui-testManifest = { module = "androidx.compose.ui:ui-test-manifest", version.ref = "compose" }
compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "compose" }
compose-material = { module = "androidx.compose.material:material", version.ref = "compose" }
compose-materialIconsExtended = { module = "androidx.compose.material:material-icons-extended", version.ref = "compose" }
compose-animation = { module = "androidx.compose.animation:animation", version.ref = "compose" }

# AndroidX

androidx-core = "androidx.core:core-ktx:1.7.0"

# Test

androidx-test-ext-junit = "androidx.test.ext:junit:1.1.3"
androidx-test-espresso-core = "androidx.test.espresso:espresso-core:3.4.0"
